docs/report/Team Machina - Report.aux
docs/report/Team Machina - Report.bbl
docs/report/Team Machina - Report.bcf
docs/report/Team Machina - Report.blg
docs/report/Team Machina - Report.fdb_latexmk
docs/report/Team Machina - Report.fls
docs/report/Team Machina - Report.log
docs/report/Team Machina - Report.run.xml
docs/report/Team Machina - Report.synctex.gz
docs/report/Team Machina - Report.toc
To do list.md
Task 1 - Simulation/matlab scripts/newfile.avi
*.asv